.from_wrapper {
  padding: 50px 50px;
  background-color: aliceblue;
}

.heading-textf {
  color: #234a83;
  font-weight: bold !important;
  margin-top: 5px !important;
}
.head-top {
  background-color: #234a83;
  color: #fff;
  padding: 2px;
  text-align: center;
}

.textfield {
  padding: 1px;
}
#startIcon {
  color: #800000;
  margin-bottom: 5px;
  font-size: 15px;
}
// birthregistration data
.BirthData-Top {
  background-color: #234a83;
}
.t-cell {
  color: #fff;
}
.head-top-error {
  background-color: #800000;
  text-align: center;
  color: #fff;
}
