

/* LANGUAGE SWITCH TOGGLER */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

$main-font: 'Montserrat', sans-serif;

$main-color: #414042;
$secondary-color: #141414;
$font-color: #b1b4ba;
$accent-color: #74ccf4;

$default-font-size: 16px;
$font-size-xxxs: 0.5rem;
$font-size-xxs: 0.6rem;
$font-size-xs: 0.7rem;
$font-size-sm: 0.8rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.5rem;

$default-nav-height: 7vh;
$default-footer-height: 6vh;

$default-body-height: 87vh;


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $font-color;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $accent-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $accent-color
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}