.from_wrapper {
  padding: 50px 50px;
  background-color: aliceblue;
}

.m-head-textf {
  color: #234a83;
  font-weight: bold !important;
  margin-top: 5px !important;
}
.mi-head-top {
  background-color: #234a83;
  color: #fff;
  padding: 2px;
  text-align: center;
}

.textfield {
  padding: 1px;
}
#startIcon {
  color: #800000;
  margin-bottom: 5px;
  font-size: 15px;
}
// migration data
.thead {
  background-color: #234a83;
  color: #fff !important;
}

.t-cell {
  color: #fff !important;
}
