* {
  margin: 0px;
  padding: 0px;
}

$pad: 15px 30px;
$text-align: center;
$dark: #393636;
$mar: 20px;
$font: "Mukta, sans-serif";
$hover: #800000;
$sub-background: rgb(94, 94, 228);
$main-background: #234a83;

.item-first-wrapper {
  padding: 20px;
}

.Program-Top {
  display: flex;
  align-items: center;
  padding: 5px;
}

.Program-Top .span {
  color: $hover;
}
@media (max-width: 900px) {
  .Program-Top {
    display: grid;
    grid-template-columns: auto;
  }
}
// .program-after2 {
//   padding: 1.2px;
//   background-color: $sub-background;
//   width: 100%;
// }
.program-hr {
  background: rgb(94, 94, 228);
  padding: 1.1px;
  width: 35%;
}

.item-firstprogram {
  display: flex;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid rgb(36, 144, 177);
  border-bottom: 20px solid transparent;
  margin-top: 10px;
}
.item-firstprogram .content {
  margin-left: 20px;
  font-weight: bold;
  margin-top: 18px;
}
.item-firstprogram .content:hover {
  cursor: pointer;
}
